@import "custom";
@import "~bootstrap/scss/bootstrap";
@import url('http://fonts.cdnfonts.com/css/gotham');

*{
    font-family: 'Gotham', sans-serif;
}

body{
    background: no-repeat;
    background-image: linear-gradient(black,#008B95);
    background-color: #008B95 !important;
}

body::-webkit-scrollbar{
    width: 10px;
    background-color: #000e0f;
}

body::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb{
    background-color:#7AB800;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover{
    background:#7AB800 ;
}

.w3-animate-fading{
    animation: fading 2s;
}

@keyframes fading{
    0%{opacity: 0;}
    100%{ opacity: 1;}
}

/* Navbar */
.container-fluid{
    background-color: #000e0f !important;
}

.form-switch {
    margin-top: 3%;
    margin-left: 1%;
    padding-left: 2.5em;
}

.navbar{
    background-color: #000e0f !important;
    height: max-content;
    position: absolute;
    padding-top: 0% !important;
}


.navbar-brand{
    margin-right: 0rem !important;
}

.navbar-img{
    height: 65%;
    position: absolute;
    top: 20%;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    align-content: center;
    align-items: center;
}

 .nav-link{
    color: #818A8F !important;
    font-size: medium !important;
    margin-top: 1.5% !important;
    padding-right: 2rem !important;
 }

.nav-link:hover{
    color: #7AB800 !important;
    transform : scale(1.3);
    cursor: pointer !important;
 }

 a.nav-link::after{
     content: '';
     width: 0%;
     height: 2px;
     background-color: #a3aeb4;
     display:flex;
     margin: auto;
     transition: 0.5s;
 }

 .nav-link:hover::after{
     width: 100%;
 }

 .navbar-nav > p {
    margin-top: 3%;
    margin-bottom: 1rem;
}

.navbar-toggler-icon > .icon-bar{
    background-color: white !important;
    color: azure !important;
}


/* Home */
.carousel-item{
    margin-top: 0.5% !important;
}

.carousel-item > img {
    max-height: 42rem !important;
}

#label:hover{
    background-color: #64677159;
    cursor: pointer;
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
    border-top-right-radius: 2%;
    border-bottom-right-radius: 2%;
}


/* Who | Chi siamo */

.card {
    border-radius: 2%;
    background-color: #00585e00 !important;
    margin: 10px;
    border: none !important;
}

.card-group {
    margin: auto;
    width:fit-content !important;
    justify-content: center !important;
}

.carousel-indicators {
    position: relative !important;
}

.carousel-who {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.carousel-caption {
    text-shadow:  0px 4px 4px rgba(0, 0, 0, 0.85);
}

.card-title{
    text-transform: uppercase;
    color: #7AB800;
}

.card-text {
    color: white;
}

#card-body-text{
    padding-right: 25% !important;
    padding-left: 20% !important;
}

.h3-who {
    font-family: 'Gotham', sans-serif;
    color: white;
    margin-left: 6.5%!important;
    margin-top: 4% !important;
}


.h3-next{
    font-family: 'Gotham', sans-serif;
    color: white;
    margin-left: 6.5%!important;
    margin-top: 8% !important;
    margin-bottom: 2% !important;
}


/* WHAT | Cosa facciamo */
#card-service:hover{
    transform : scale(1.1);
    cursor: pointer;
}

.h5-service{
    margin-left: -1rem;
    color: #7AB800;
    font-weight: bolder;
}

.h6-service{
    text-shadow: 0px 4px 4px rgba(59, 58, 58, 0.85);
    margin-left: -1rem;
    color: white;
}

.row {
    justify-content: center !important;
    --bs-gutter-x: 0rem !important;
}

.what{
    background-image: url("../img/uccelli.png");
    background-size: contain;
    background-origin: padding-box;
}

.text-service{
    text-shadow: 0px 4px 4px rgba(59, 58, 58, 0.85);
    font-family: 'Gotham', sans-serif;
    margin-left: -1rem;
    color: white;
    font-weight: lighter;
    font-size: small;
}


/* WHIT */

.container{
    width: 96% !important;
    display: flex !important;
    justify-content: space-between !important;
}


.list:hover {
    text-decoration: dashed;
    text-shadow: 0.1px 0.2px 0.2px white;
    color: #7AB800;
    cursor: pointer;
}

.list-title{
    color: #7AB800;
    font-weight: bold;
}

.p-whit{
    font-family: 'Gotham', sans-serif;
    color: rgb(255, 255, 255);
    text-align: left;
    justify-content: center;
    bottom: 20%;
}

.p-whit > strong{
    color:#7AB800;
    text-shadow:  0px 1px 25px rgba(255, 255, 255, 0.479);
    
}

#whit-container{
    margin-left: 4%;
    margin-top: 2%;
}

.with{
    background-image: url("../img/polpo_opacity1.png");
    background-position-x: 5%;
    background-position-y: 8%;
    background-repeat: no-repeat;
}

ul , li {
    color:#a3aeb4;
    text-transform: uppercase !important;
}

.text-container{
    text-transform: uppercase;
    max-width: 50%;
}


/* WHERE */

.card-title-where{
    cursor: pointer;
    text-transform: uppercase;
    color: #7AB800;
    text-decoration: none;
}

.card-title-where:hover{
    color: whitesmoke;
}

#card-events:hover{
    transform : scale(1.3);
    cursor: pointer;
}

.p-where{
    color: white;
}

.p-where > strong {
    color:#7AB800;
    text-shadow:  0px 1px 35px rgba(255, 255, 255, 0.479);
}

.text-container-where{
    margin-left: -1%;
    text-transform: uppercase;
    max-width: 90%;
}

.where{
    background-image: url("../img/giraffa1.png");
    background-repeat: no-repeat;
    background-clip: padding-box;
    background-position-x: right;
    background-position-y:5%;
}


/* WE - CONTATTACI */

#a-map{
    text-decoration: none;
}

.btn{
    color: #eee !important;
    background-color: #7AB800 !important;
}

.contact-us {
    margin-bottom: 50px
}

.contact-us h3,p {
    color: #fff
}

.draggable{
    margin-left: 1rem;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
}


.forms {
    padding: 20px
}

#form{
    background-color: #ffffff13 !important;
}

.form-control{
    border-radius: 0rem !important;
    background-color: #a3aeb400 !important;
}

.form-control::placeholder { 
    color:#0f0f0f7c !important;
    opacity: 1;
}


.inputs > input {
    margin-bottom: 13px;
    border: none;
    border-bottom: 2px solid rgba(238, 238, 238, 0.377)
}

.inputs> input:focus {
    margin-bottom: 13px;
    border: none;
    border-bottom: 2px solid #7AB800;
    box-shadow: none;
}

.inputs> textarea {
    margin-bottom: 13px;
    border: none;
    border-bottom: 2px solid rgba(238, 238, 238, 0.377);
    width: 100%;
    resize: none
}

.inputs> textarea:focus {
    margin-bottom: 13px;
    border: none;
    border-bottom: 2px solid #7AB800;;
    box-shadow: none;
    resize: none;
}

.label-form{
    display: flex;
    align-content: center;
    color: #fff;
}

.map-icon0{
    height: fit-content; 
    margin-top: 0.5rem;
}

.map-icon{
    margin-top: -2rem;
}

.map-icon3{
    margin-top: -5% !important;
}

.position{
    margin-left: 1rem;
    text-decoration: none;
    position: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color:#7AB800;
}

.position-text{
    text-align: initial !important;
    margin-left: 1rem;
}


/* FOOTER */


.container-fluid {
    background-color: #000e0f4f !important;
}

.card {
    padding: 2% 7%;
    color: #646771;
    background-color: #202022
}

.divider {
    border-top: 2px solid rgba(189, 196, 203, 0.5);
}

.heading {
    font-family: 'Titillium Web', sans-serif;
    color: white
}

hr {
    border-width: 3px
}

#icon-social{
    margin-top: 1.5rem!important;
} 

#icon-social:hover{
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

ul>li {
    padding: 4px
}

ul>li:hover {
    color:#7AB800 ;
    cursor: pointer
}

.policy>div {
    padding: 4px
}


@media screen and (max-width:850px){
    #card-events {
        width: 100% !important;
    }
}